

// Global default params, used in configs
params {
    // Define optional parameters
    pipeline_dir = "$PWD"
    trace_dir = "${params.pipeline_dir}/pipeline_info"  
	
	username = 'prepay-houlston'
	//email address. set to false to disable
	email = false 
	plaintext_email = false
	monochrome_logs = false  
}
	
process {
	//scheduler options
	executor = 'slurm'	
	//executor = 'local'
	
	queue = 'compute'
	
	//clusterOptions = " -A ${params.username}"

	// compute options
	//cpus = '1'
	//time = '120h'
  //errorStrategy = "retry"
	//maxRetries = 3
	cpus = { task.attempt <=1 ? '1' : '2' }		
	time = { task.attempt <=1 ? '48h' : '120h' }		
	
}
  
executor {
  queueSize = 200
  submitRateLimit = '10 sec'
}

timeline {
  enabled = true
  file = "${params.trace_dir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.trace_dir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.trace_dir}/execution_trace.txt"
}
